.About{
    /* background-color: #f7f7f7; */
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdnIhUy7FjKhHDm-DmUlR0PF0NTyZkw91bPA&usqp=CAU'); */
    height: 320vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
}

.about-section {
    position: relative;
    /* height: 50vh; */
  }
  
  .about-image {
    width: 97%;
    height: 50vh;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman';
    text-decoration: none ;
    color: rgb(102, 115, 129);
    font-size: 60px;
  }

h3{
    color: white;
}
.description-about p{
    text-align: center;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Times New Roman';
    text-decoration: none ;
    margin-top: 100px;
    margin-left: 100px
}

.second-description-about p{
    margin-top: 200px;
    font-weight: lighter;
    font-family: initial;
}

.second-description-about h2{
    margin-top: 0px;
    font-weight: bold;
    font-family: initial;
    font-size: 50px;
    color: white;
}

p.p-outside{
    font-size: 50px;
}

a{
    color: rgb(230, 218, 218);
    text-decoration: none;
    font-weight: bold;
  }

.button{
    font-size: 1.8rem;
    padding: 10px 60px;
    border: none;
    border-radius: 8px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}
.content{
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    text-decoration: none;
    height: 65vh;
}
img{
    padding:3px;
    margin-top: 5px;
    width: 450px;
    height: 350px;
    margin-left: 50px;
    
}
.welcome-about{

    margin-left: 100px;
}

#about-title{
    font-size: 50px;
    color:white;
}

.content2 {
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.content2 .photo img{
    margin-right: 100px;
}
.content2 p{
    font-weight: bold;
    text-align: center;
    margin-top: 180px;
}
.content p{
    margin-top: 60px;
    font-weight: bold;
}
.content3{
    margin-top: 50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.content3 .photo img{
    margin-right: 60px;
    margin-left: 20px;
}
.content3 p{
    margin-top: 60px;
    font-weight: bold;
}
.content3 h2{
    margin-top: 80px;
}